<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?if $(var.Platform)=x64 ?>
  <?define ProductCode = "{06FE3647-C128-4278-9B93-FB3A826B8C6A}"?>
  <?else?>
	<?define ProductCode = "{C0C729B3-BA4A-4565-83CA-EC948800536D}"?>
  <?endif?>

  <?define UpgradeCode = "{CA9E0D7A-2E90-47F4-A296-6A392179D35F}"?>
  
  
	<Product Id="$(var.ProductCode)"
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)"
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"
             />

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate 
      EmbedCab="yes"
      />
    
    <Icon Id="icon.ico" SourceFile="$(var.CarDealerSQLite.ProjectDir)Car Dealer.ico"/>

    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    
    <!--Wyglad instalatora-->
    <UIRef Id="WixUI_Minimal"/>
    
    <!--Ustawienie opisu licencji w instalatorze-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />
    
		<Feature Id="ProductFeature" Title="CarDealer" Level="1">
      
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents"/>
		</Feature>
    
	</Product>

</Wix>
